<app-common-header></app-common-header>

<br />
<br />
<div class="compare-container">
    <div class="box">
        <div style="text-align: left; font-size: 1.25rem;">Compare Funds</div>
        <br />
        <div style="text-align: left;">Detailed comparison on parameters like NAV | Returns | Risk | Rating | Analysis</div>
    </div>
    <div class="box" style="padding-top: 35px;">
        <div *ngIf="fundname!==''"><div><i class="material-icons" (click)="switchToAddFund()">close</i> {{fundname}}
            </div>
        </div>
        <div *ngIf="fundname==''"><i (click)="openModal()" class="material-icons" style="color: darkblue;">add_circle_outline</i> 
        <h3 class="fs012AddHeading">Add a fund</h3>
        </div>
    </div>
    <div class="box" style="padding-top: 35px;">
        <i (click)="openModal()" class="material-icons" style="color: darkblue;">add_circle_outline</i> 
        <h3 class="fs012AddHeading">Add a fund</h3>
    </div>
    <div class="box" style="padding-top: 35px;">
        <i (click)="openModal()" class="material-icons" style="color: darkblue;">add_circle_outline</i> 
        <h3 class="fs012AddHeading">Add a fund</h3>
    </div> 
</div>

<footer class="mf-footer">
    <p>© Copyright DevWarriors. All rights reserved.</p>
</footer>
<!-- <mat-grid-list cols="4" rowHeight="110px" class="grid-list-shadow">
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
          
            <div>Compare Funds</div> <br />
            <div>Detailed comparison on parameters like NAV | Returns | Risk | Rating | Analysis</div>
      
        </mat-grid-tile>
      
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
          
            <i class="material-icons fs012AddButton">add_circle_outline</i><h3 class="fs012AddHeading">Add a fund</h3>
      
        </mat-grid-tile>
      
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
          
            <i class="material-icons fs012AddButton">add_circle_outline</i><h3 class="fs012AddHeading">Add a fund</h3>
      
        </mat-grid-tile>
    
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
          
            <i class="material-icons fs012AddButton">add_circle_outline</i><h3 class="fs012AddHeading">Add a fund</h3>
      
        </mat-grid-tile>
      
    </mat-grid-list> -->


<!-- <p>comparefunds works!</p>
<div style="display:flex;justify-content:space-between;">
<div>
    <div>
<mat-icon aria-hidden="false" aria-label="Select Fund 1" (click)="openModal()">add_box</mat-icon>
</div>
<div>Add a fund</div>
</div>
<div>
    <div>
<mat-icon aria-hidden="false" aria-label="Select Fund 2" (click)="openModal()">add_box</mat-icon>
</div>
<div>Add a fund</div>
</div>
<div>
    <div>
<mat-icon aria-hidden="false" aria-label="Select Fund 3" (click)="openModal()">add_box</mat-icon>
</div>
<div>Add a fund</div>
</div>
</div> -->
