
<mat-grid-list cols="3" rowHeight="90px">
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
    
      <img class="" src="assets/images/Nordea-logo.svg" width="100" height="40" alt="Nordea Logo"> 
      <span class="nordea-grow">GROWWW</span>

  </mat-grid-tile>

  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
    
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Search Mutual funds"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [routerLink]="['/funddetails', option]">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

  </mat-grid-tile>

  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
    
      <button mat-button mat-button mat-flat-button  color="primary" class="nordea-button">Login / Register</button>

  </mat-grid-tile>

</mat-grid-list>



<!-- <div class="container main" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="30%"><img class="" src="assets/images/Nordea-logo.svg" width="100" height="40"
        alt="Nordea Logo"></div>
    <div class="item item-2" fxFlex="60%">
  
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Search Mutual funds"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    
    </div>
    <div class="item item-3" fxFlex="10%">
      <button mat-button mat-button  mat-flat-button  color="primary">Login / Register</button>
    </div>
  </div> -->