<div style="text-align: right;">
  <i class="material-icons" mat-dialog-close>close</i> 
</div>
<div>
    <h1 style="text-align: center;">Search for funds here</h1>
    
</div>
<br />

<form class="example-form">
  <mat-form-field class="example-full-width">
   
    <input  type="text"
           placeholder="Search Mutual funds"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async, let i=index" [value]="option" (click)="addFunds(option)">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
  

  